
.registerbody{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
    background-image: url("../../images/backimg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .registercontainer{
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  .registercontainer .registerheading{
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }
  .registercontainer .registerheading::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }
  .registercontent .registerform .user-details{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  .registerform .user-details .input-box{
    margin-bottom: 15px;
    /* width: calc((100% / 2) + 50px ); */
  }
  .registerform .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
    border-color: #9b59b6;
  }
  

  /* userimage...... */
  .top-user{
    display: flex;
    justify-content: space-between;
  }
  .username-box{
    width: 90%;
  }
  .userimage{
    width: 45px;
    height: 45px;
    border-radius: 100%;
  }

  
   .registerform button{
     height: 45px;
     margin: 35px 0;
   }
   .registerform button {
    padding: 15px;
     height: 100%;
     width: 100%;
     border-radius: 5px;
     border: none;
     color: #fff;
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 1px;
     cursor: pointer;
     transition: all 0.3s ease;
     background: linear-gradient(135deg, #71b7e6, #9b59b6);
   }
   .registerform .button input:hover{
    /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    }
   @media(max-width: 584px){
   .registercontainer{
    max-width: 100%;
  }
  .registerform .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
    }
    .registerform .category{
      width: 100%;
    }
    .registercontent .registerform .user-details{
      max-height: 300px;
      overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
      width: 5px;
    }
    }
    @media(max-width: 459px){
    .registercontainer .registercontent{
      flex-direction: column;
    }
  }